.utility{
  font-family: 'Jost', sans-serif;
  justify-content:flex-end;
  list-style: none;
  display: flex;
  column-gap: 20px;
  padding-left: 20px;
}
body{
    font-size: 25px;
  }
  .navbar-brand {
    width: 50px;
    height: 50px;
}
#navbarSupportedContent {
    list-style: none;
}
.dropdown-menu {
  background-color: #909CC2;

}
.backGround{
  background-color: #909CC2;
  padding: 30px;
}

footer{
  font-family: 'Jost', sans-serif;
  color: #FFF;
  font-size: 16px;
}
footer .row{
  column-gap: 40px;
}
footer p{
  cursor: pointer;
}
.col{
  padding-top: 20px;
}

.indivFam h1{
  padding: 20px;
  font-family: 'Jost', sans-serif;
  text-align: center;
  font-weight: 600;
}

.indivFam p{
  font-family: 'Jost', sans-serif;
  text-align: left;
  padding-left: 20px;
  font-size: 25px;

}

.contentList ol{
  font-family: 'Jost', sans-serif;
  font-size: 20px;
  padding: 50px;
  margin-left: 150px;
  margin-right: 0 auto;
  font-weight: 600;
}

.paragraph1 {
  font-size: 25px;

}
.paragraph2{
  font-size: 25px;

}

.palmerlogo {
  width: 100%;
  
}

.paragraph3 {
  font-size: 25px;

}


.contentLayout {
  padding: 20px;
  display: flex;
  justify-content: center;
  column-gap: 250px;
  
}

