.utility{
  font-family: 'Jost', sans-serif;
  justify-content:flex-end;
  list-style: none;
  display: flex;
  column-gap: 20px;
  padding-left: 20px;
}
body{
    background-color: url(.);
    font-size: 20px;
  }
  .navbar-brand {
    width: 50px;
    height: 50px;
}
#navbarSupportedContent {
    list-style: none;
}
.backGround{
  background-color: #909CC2;
  padding: 30px;
}

footer{
  font-family: 'Jost', sans-serif;
  color: #FFF;
  font-size: 16px;
}
footer .row{
  column-gap: 40px;
}
footer p{
  cursor: pointer;
}
.col{
  padding-top: 20px;
}
.heading {
  position: center;
}
.paragraph1 {
  width: 592px;
  height: 850px;
  left: 118px;
  top: 1469;
  float: left;
  margin-right: 2.5em;
}
.paragraph2{
  position:inherit;

}
.groupsession {
  float: left;
  width: 522px;
  height: 537px;
  left: 138px;
  top: 2395px;
}
.palmerlogo {
  position: ;
  float: right;
  width: 506px;
  height: 210px;
  left: 791px;
  top: 1655px;
}
.knot {
  float: right;
  width: 522px;
  height: 537px;
}
.paragraph3 {

}