section h2 {
    font-family: 'Jost', sans-serif;
}
.ourPrograms {
    display: flex;
    padding: 60px 30px;
    font-family: 'Jost', sans-serif;
}
.ourPrograms div {
    width: 33%;
    padding: 25px;
}
.videoMission {
    background-color: #00ACD7;
    height: 600px;
}
h2 {
    font-family: 'Jost', sans-serif;
}
h3 {
    font-family: 'Jost', sans-serif;
}
p {
    font-family: 'Jost', sans-serif;
}